@import "tailwindcss";

@theme {
  --font-serif: "Orbitron", "Inter", "Times New Roman", serif;
  --font-mono: "Fira Code", monospace;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
      0% { transform: translateY(0px); }
      50% { transform: translateY(-20px); }
      100% { transform: translateY(0px); }
  }
}
